alib-52
checksum_info.txt
crte_*.txt
default.svf
DESIGN_LIBS
dw_*
*.gz
innovus.cmd*
innovus/DBS
innovus/GDS
innovus/HDL
innovus/innovus.cmd*
innovus.log*
innovus/*.log*
innovus/RPT
innovus/timingReports
*.cts.*
*.rpt
Synopsys_*.txt
*.wlf
work
project_1/*.cache
transcript
vivado.jou
*.cr.mti
*_mapped.v
*.ddc
